<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="users" type="RESTAPITest.Configuration.UsersConfigurationSection, RESTAPITest" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <users>
    <user>
      <add policyHolder="1SPe" oan="5983844760" userName="Xxmanoj"/>
      <add policyHolder="1SPe1UPr" oan="5919560202" userName="Xxradagast"/>
      <add policyHolder="1SPe1UPe1UPr" oan="5919560202" userName="Xxradagast"/>
      <add policyHolder="1SPeNUPe" oan="5988922908" userName="Xxsarah"/>
      <add policyHolder="1UPe" oan="5946919260" userName="Nkuuun"/>
      <add policyHolder="nUPe" oan="5956997828" userName="Sylvia"/>
      <add policyHolder="nUPr" oan="5937848349" userName="Xxrob"/>

      <add policyHolder="2SPe" oan="5929595486" userName="Jacob"/>
      <add policyHolder="3SPe" oan="5957095356" userName="Mason"/>
      <add policyHolder="4SPe" oan="5904877853" userName="Mick"/>
      <add policyHolder="5SPe" oan="5910359749" userName="Harrison"/>
      <add policyHolder="6SPe" oan="5923233288" userName="William"/>
      <add policyHolder="7SPe" oan="5941895058" userName="Paul"/>
      <add policyHolder="8SPe" oan="5930968620" userName="Tamara"/>

      <add policyHolder="2SPe1UnavPe" oan="5908471679" userName="Cane"/>
      <add policyHolder="1UnavPe" oan="5930351191" userName="Kory"/>

      <add policyHolder="ZeroPe" oan="5921425347" userName="Felicity"/>
      </user>
  </users>
  <appSettings>
    <add key="ApiUrl" value="https://direct-aviva-sit.via.novonet/MyVoice/api/Voice"/>
  </appSettings>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>